@import "../../themes/generated/variables.base.scss";

.side-nav-outer-toolbar {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  .dx-overlay-content {
    background-color: $base-bg;
  }

  .dx-item.dx-treeview-item {

    .dx-item-content.dx-treeview-item-content {
      display: flex;
      flex-wrap: nowrap;
      word-wrap: none;
    }
  }

  .layout-header {
    z-index: 1501;
  }

  .drawer {
    flex-grow: 1;
  }

  .layout-body {
    flex: 1;
    min-height: 0;

  }

  .content {
    flex-grow: 1;

  }

}