$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #337ab7;
$base-label-color: #333;
$base-link-color: #337ab7;
$base-icon-color: #333;
$base-text-color: #333;
$base-bg: #fff;
$base-border-color: #ddd;
$base-border-radius: 4px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #333;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: #337ab7;
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$base-border-radius-small: 3px;
$base-border-radius-large: 6px;
$button-normal-color: #333;
$button-normal-bg: #fff;
$button-normal-border-color: #ddd;
$button-default-color: #fff;
$button-default-bg: #337ab7;
$button-default-border-color: #2d6da3;
$button-danger-color: #fff;
$button-danger-bg: #d9534f;
$button-danger-border-color: #d43f3a;
$button-success-color: #fff;
$button-success-bg: #5cb85c;
$button-success-border-color: #4cae4c;
$list-border-color: #ddd;
$list-group-color: #333;
$list-group-header-bg: rgba(238, 238, 238, 0.05);
$list-normal-color: #333;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-selected-bg: rgba(0, 0, 0, 0.1);
$list-item-focused-selected-bg: rgba(51, 122, 183, 0.7);
$list-focused-bg: #337ab7;
$list-item-active-bg: #337ab7;
$fieldset-field-label-color: #333;
$checkbox-border-color: #ddd;
$checkbox-focused-borderd-color: #337ab7;
$checkbox-bg: #fff;
$checkbox-hover-border-color: #265a87;
$checkbox-active-icon-bg: rgba(96, 96, 96, 0.2);
$button-group-normal-selected-color: #333;
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.17);
$button-group-default-selected-color: #337ab7;
$button-group-default-selected-bg: rgba(51, 122, 183, 0.3);
$button-group-danger-selected-color: #d9534f;
$button-group-danger-selected-bg: rgba(217, 83, 79, 0.3);
$button-group-success-selected-color: #5cb85c;
$button-group-success-selected-bg: rgba(92, 184, 92, 0.3);
$scrollable-scroll-bg: rgba(191, 191, 191, 0.7);
$scrollable-scrollbar-active-bg: rgba(191, 191, 191, 0.2);
$switch-border-color: #ddd;
$switch-on-color: #333;
$switch-container-active-bg: rgba(96, 96, 96, 0.2);
$switch-off-color: #999999;
$tabs-tab-color: #333;
$tabs-tab-selected-color: #333;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: #fff;
$tabs-border-color: #ddd;
$tabs-focused-border-color: #337ab7;
$tabs-tab-hover-bg: #fff;
$badge-color: #fff;
$badge-bg: #337ab7;
$navbar-tab-color: #333;
$navbar-tab-selected-color: #333;
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: #fff;
$overlay-content-bg: white;
$overlay-shader-bg: rgba(255, 255, 255, 0.8);
$overlay-focus-border-color: #ddd;
$textbox-search-icon-color: #999999;
$texteditor-color: #333;
$texteditor-placeholder-color: #999999;
$texteditor-bg: #fff;
$texteditor-filled-bg: rgba(51, 51, 51, 0.05);
$texteditor-border-color: #ddd;
$texteditor-focused-border-color: #337ab7;
$texteditor-hover-border-color: rgba(51, 122, 183, 0.4);
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$dropdowneditor-icon-color: #333;
$dropdowneditor-icon-active-color: #333;
$numberbox-spin-active-bg: #b3b3b3;
$numberbox-spin-hover-border-color: transparent;
$numberbox-spin-icon-color: #333;
$calendar-color: #333;
$calendar-header-color: #999999;
$calendar-cell-other-color: #b0b0b0;
$calendar-bg: #fff;
$calendar-hover-bg: rgba(0, 0, 0, 0.04);
$calendar-cell-selected-bg: #337ab7;
$calendar-cell-active-bg: rgba(96, 96, 96, 0.2);
$calendar-border-color: #ddd;
$calendar-navigator-border-color: #ddd;
$calendar-navigator-hover-border-color: #ddd;
$calendar-shevron-icon-color: #337ab7;
$loadindicator-bg: #606060;
$treeview-focused-bg: #337ab7;
$treeview-hover-bg: rgba(0, 0, 0, 0.04);
$treeview-border-color: #ddd;
$treeview-item-selected-color: #333;
$treeview-spin-icon-color: #333;
$menu-popup-bg: whitesmoke;
$menu-item-hover-bg: rgba(0, 0, 0, 0.04);
$menu-color: #333;
$menu-item-hovered-color: #333;
$menu-item-expanded-color: #333;
$menu-item-selected-bg: #e6e6e6;
$menu-popup-border-color: #ddd;
$selectbox-list-bg: #fff;
$toolbar-bg: #fff;
$popup-title-bg: transparent;
$tileview-color: #333;
$toast-color: #fff;
$toast-info-bg: #337ab7;
$toast-warning-bg: #f0ad4e;
$toast-error-bg: #d9534f;
$toast-success-bg: #5cb85c;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #337ab7;
$tooltip-color: #333;
$tooltip-bg: #fff;
$tooltip-border-color: #ddd;
$slider-bar-bg: #ddd;
$slider-range-bg: #337ab7;
$gallery-indicator-bg: #fff;
$gallery-indicator-item-selected-bg: #337ab7;
$gallery-indicator-focused-bg: #22527b;
$gallery-navbutton-hover-color: rgba(51, 122, 183, 0.5);
$gallery-nav-arrow-color: #fff;
$gallery-navbutton-active-color: rgba(51, 122, 183, 0.7);
$loadpanel-content-bg: white;
$tagbox-tag-color: #333;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$radiogroup-checked-bg: #337ab7;
$radiobutton-active-bg: rgba(96, 96, 96, 0.2);
$accordion-color: #333;
$accordion-title-color: #333;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #ddd;
$accordion-item-focused-border-color: #337ab7;
$accordion-title-active-color: #333;
$accordion-item-hover-bg: rgba(0, 0, 0, 0.04);
$accordion-icon-active-color: #333;
$colorbox-overlay-bg: white;
$datagrid-base-color: #333;
$datagrid-base-background-color: #fff;
$datagrid-border-color: #ddd;
$datagrid-columnchooser-item-color: #959595;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: rgba(51, 122, 183, 0.5);
$datagrid-selection-bg: #e6e6e6;
$datagrid-row-selected-border-color: #ddd;
$datagrid-row-selected-color: #333;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #5c95c5;
$datagrid-hover-bg: rgba(0, 0, 0, 0.04);
$datagrid-menu-icon-color: #898989;
$datagrid-cell-modified-border-color: rgba(92, 184, 92, 0.5);
$datagrid-row-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$datagrid-nodata-color: #999999;
$datagrid-group-row-color: #959595;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #fff;
$datagrid-spin-icon-color: #959595;
$datagrid-search-bg: #337ab7;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #e89895;
$datagrid-link-color: #337ab7;
$datagrid-focused-border-color: #5c95c5;
$datagrid-editor-bg: #fff;
$datagrid-columnchooser-bg: #fff;
$datagrid-row-alternation-bg: whitesmoke;
$datagrid-summary-color: rgba(51, 51, 51, 0.7);
$pager-page-selected-color: #333;
$pager-page-selected-bg: #d4d4d4;
$pivotgrid-area-color: #959595;
$pivotgrid-totalcolor: rgba(221, 221, 221, 0.2);
$pivotgrid-grandtotalcolor: whitesmoke;
$pivotgrid-field-area-text-color: #525252;
$pivotgrid-spin-icon-color: #959595;
$fileuploader-filename-color: #333;
$fileuploader-falename-status-color: #999999;
$fileuploader-border-color: #ddd;
$scheduler-base-border-color: rgba(221, 221, 221, 0.6);
$scheduler-accent-border-color: #c4c4c4;
$scheduler-appointment-text-color: #fff;
$scheduler-appointment-base-color: #337ab7;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.3);
$scheduler-first-month-border-color: #aaaaaa;
$scheduler-workspace-focused-cell-color: #dbe9f5;
$scheduler-current-time-cell-color: #337ab7;
$scheduler-time-indicator-color: #63a0d4;
$form-field-item-color: #333;
$form-group-border-color: #ddd;
$filterbuilder-text-color: #333;
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(92, 184, 92, 0.3);
$filterbuilder-remove-icon-color: rgba(217, 83, 79, 0.3);
$filterbuilder-group-operation-color: rgba(217, 83, 79, 0.3);
$filterbuilder-item-field-color: rgba(51, 122, 183, 0.3);
$filterbuilder-item-operator-color: rgba(92, 184, 92, 0.3);
$filterbuilder-item-value-color: rgba(221, 221, 221, 0.5);
$filterbuilder-menu-icon-color: #898989;
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
