.card-box {
  border: 1px solid rgba(221, 221, 221, 0.6);
  background-color: #fff;
  color: #333;
  width: 300px;
  height: 300px;
  margin: 0px 30px 30px 0px;
  &:hover {
    border: 1px solid rgba(51, 122, 183, 0.4);
  }
}

.visible {
  width: 100%;
  position: relative;
}

.hidden {
  width: 100%;
  position: absolute;
  top: -9999px;
}

.dx-tab {
  padding: 4.5px;
}
