@import "./themes/generated/variables.additional.scss";
@import "./themes/generated/variables.base.scss";
@import "./utils/media-query.scss";


.filters-container {
  .filters-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-item {
    padding: 0 8px 0 8px;
    margin: 4px 0px 4px 0px;

    .filter-values {
      display: flex;
      flex-wrap: nowrap;

      .dx-datebox {
        width: 190px;
        margin: 0 8px 0 8px;

        &:first-child {
          margin: 0 8px 0 0;
        }

        &:last-child {
          margin: 0 0 0 8px;
        }
      }

      .dx-tagbox {
        width: 200px;
      }
    }

    &.generateReport {
      align-self: flex-end;
    }
  }
}

.progressPopup {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .progressPopup-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
  }

  .progressBar {
    width: 100%;
  }
}

.dx-datagrid {
  tr.dx-header-row td {
    text-align: left !important;
  }
}

.highlight-block-pale-gray {
  border: 0px transparent;
  border-radius: 4px;
  background-color: #ebebeb;
  outline: 4px solid #ebebeb;
}

.outline-block-pale-gray {
  border: 0px transparent;
  border-radius: 4px;
  outline: 4px solid #ebebeb;
}

.marker {
  position: absolute;
  font-size: 15px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-v-8 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.m-v-65 {
  margin-bottom: 65px;
  margin-top: 65px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.dx-toast-message {
  white-space: pre-line;
}

.customEditorPopup {
  --labelWidth: 18em;

  .popupContent {
    width: 100%;
  }

  .dx-overlay-content {
    //Делает прозрачным содержимое popup в момент его подключения, что-бы он не появлялся в искажённом виде до запуска анимации его появления
    opacity: 0;
  }

  .dx-popup-title {
    .popup-title {
      box-sizing: border-box;
      font-size: 20px;
      color: #333;
      font-weight: 400;
      font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
      line-height: 1.35715;
    }
  }

  .editor-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .smartjson2-editor-component {
      fieldset {
        border: 1px solid #ddd;
      }
    }

    .group-composition-configuration[disabled] {
      position: relative;

      *:not(.group-composition-curtain):not(.group-composition-curtain-overlay):not(.group-composition-curtain-message) {
        pointer-events: none;
        cursor: default;
      }

      .dx-form-group-caption,
      .dx-field-label.item-label {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }

      .group-composition-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.123);
        z-index: 1000000;
        display: flex;
        justify-content: center;
        align-items: center;

        .group-composition-overlay-message {
          font-size: 24px;
          background-color: #ebebeb;
          padding: 8px 16px;
        }
      }
    }

    .editor-group {
      width: 100%;
      height: 100%;
      padding: 8px;

      &.cols-2 {
        width: 50%;
      }
    }

    .editor-item {
      width: 100%;
      padding: 8px;

      .dx-data .editor-item-label {
        padding: 8px 7px 9px 0;
      }

      .dx-field {
        display: flex;

        .dx-field-label {
          padding: 8px 7px 9px 0;
          width: var(--labelWidth);

          &[disabled] {
            user-select: none;
            opacity: 0.5;
            cursor: default;
          }
        }

        .dx-field-value {
          flex: 1;
        }

        .field-enabler {
          padding: 0px 4px 0px 4px;
          width: 54px;

          .dx-switch {
            height: 100%;
          }

          &.top {
            align-self: flex-start;
          }
        }

        &.width-half {
          width: 50%;
          padding-right: 16px;
        }

        &.image-uploader-field {
          .dx-field-label {
            width: var(--labelWidth);
          }

          .field-enabler {
            .dx-switch-container {
              vertical-align: top;
            }

            .dx-switch-wrapper {
              padding: 8px 0 9px 0;
            }
          }
        }

        .image-uploader {
          width: 100%;
          display: flex;
          flex-direction: row;

          &[disabled] {
            * {
              user-select: none;
              opacity: 0.5;
              cursor: default;
            }
          }

          .dx-field-buttons {
            padding: 0 8px 0 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
          }

          .upload-button {
            height: 3em;

            .dx-button-content {
              height: 100%;
              line-height: 7px;
            }
          }

          .upload__image-wrapper {
            .images-container {
              max-width: 100%;
              width: 100%;

              img {
                width: 100%;
                border: 1px solid #dddddd;
                border-radius: 4px;
              }
            }

            &.inline {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
            }
          }
        }

        &.number-field {
          .dx-field-label {
            width: var(--labelWidth);
          }

          .dx-field-value {
            .dx-numberbox {
              width: 80px;
            }
          }

          &.slim-label {
            width: auto;

            .dx-field-label {
              width: fit-content;
              max-width: var(--labelWidth);
            }
          }
        }

        &.checkbox-field {
          width: fit-content;
        }
      }

      .map-editor {
        &.display-master-map {
          //располагает дополнительные элементы управления поверх карты и стилизует их
          position: relative;

          .map-controls-row {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 500;

            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 2px;

            .map-button {
              border-radius: 2px;
              font-weight: 700;
              color: #337ab7;

              .dx-button-content {
                padding: 4px 8px;
              }
            }
          }
        }
      }

      .htmlEditor {
        .dx-quill-container {
          .dx-htmleditor-content {
            background-color: white;
          }
        }
      }

      .complex-custom-editor {
        .source-type {
          .source-type-select {
            .source-type-button {
              height: 100%;
              padding: 0px 8px;
              border: 1px solid #dddddd;
              border-radius: 2px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .icon {
                text-align: center;
                font-size: 2em;
              }
            }
          }
        }

        .source-editor {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          margin: -3px 0px;

          .source-editor-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            flex-grow: 1;

            .inline-label {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;
            }

            .label {
              margin: 0px 2px;

              &[disabled] {
                user-select: none;
                opacity: 0.5;
                cursor: default;
              }
            }

            .checkbox-editor {
              margin: 2px 4px;

              .dx-checkbox {
                margin: 0px 2px;
              }
            }

            .textbox-editor {
              margin: 2px 4px;
              width: auto;

              .dx-textbox {
                margin: 0px 2px;
              }

              &.simple-string {
                width: 100%;

                .dx-textbox {
                  width: 100%;
                }
              }
            }

            .numberbox-editor {
              margin: 2px 4px;

              .dx-numberbox {
                margin: 0px 2px;
                width: 100px;
              }
            }

            .tagbox-editor {
              margin: 2px 4px;
              min-width: 150px;

              .dx-tagbox {
                margin: 0px 2px;
                min-width: 120px;
              }
            }
          }

          .source-editor-controls {
            align-self: flex-start;

            &[disabled] {
              user-select: none;
              opacity: 0.5;
              cursor: default;
            }
          }
        }

        &.icon-image-editor {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }

      &.cols-2 {
        width: 50%;
      }

      .editor-item-title {
        font-size: 16px;
      }

      &.displaygroup-controls {
        width: auto;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        min-width: 60px;
        min-height: 60px;
      }

      &.datagrid-item {
        .dummy-datagrid-header-space {
          height: 46px;
        }

        .dx-datagrid {
          .dx-datagrid-header-panel {
            background-color: $menu-popup-bg;

            .dx-toolbar {
              background-color: $menu-popup-bg;

              .dx-toolbar-items-container {
                background-color: $menu-popup-bg;
              }
            }
          }

          tr.dx-header-row td {
            text-align: left !important;
          }

          tr.dx-header-row td[aria-label="Столбец Доступ"] {
            text-align: center !important;
          }

          tr.dx-header-row td[aria-label="Выбрать всё"] {
            text-align: center !important;
          }
        }

        .dx-field {
          width: auto;
          flex-direction: column;

          .dx-field-label {
            padding: 0px 0px 8px 0px;
            font-size: 1.2em;
          }

          .dx-field-value {
            width: auto;

            .dx-radiogroup {
              padding: 0px 8px 0px 8px;

              .dx-collection {
                display: flex;
                justify-content: flex-start;
              }
            }
          }
        }

        &.displaygroup-item {
          flex-grow: 3;
          max-height: 500px;

          .dx-field-label.item-label {
            padding: 8px 0px 8px 0px;
          }
        }

        &.accessRights-datagrid-item {
          .dx-lookup {
            &.hide-arrow .dx-lookup-arrow::before {
              content: "";
            }

            &.dx-state-disabled {
              opacity: 1;
            }
          }
        }

        &.chosenDisplays-item {
          .chosendisplays-grid-button-row {
            margin-bottom: 6px;
          }

          .display-master-map {
            height: 100%;
          }
        }
      }

      &.tabpanel-item {
        .dx-tabs {
          box-shadow: none;

          .dx-item.dx-tab {
            box-shadow: none;
            outline: #ddd solid 1px;
            outline-offset: -1px;
          }
        }

        .dx-multiview-wrapper {
          box-shadow: none;
          border: none;
        }

        .tabpanel-item-title {
          font-size: 1.2em;
        }

        .dx-item-content {
          padding: 0;
        }
      }
    }

    .fields-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 900px;
    }

    &.displaygroup-content-editor {
      flex-wrap: nowrap;
    }
  }

  .p-right-16 {
    padding-right: 16px;
  }

  .p-left-label-width {
    padding-left: var(--labelWidth);
  }

  .dx-popup-content,
  .dx-toolbar.dx-popup-bottom {
    background-color: $menu-popup-bg;
  }
}

.pinCodeEditor, .areasEditor {
  display: flex;
  flex-direction: column;

  .datagrid-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .title-row {
    display: inline-block;
    width: 50%;
  }

  .title-col {
    display: none;
    width: 100%;
  }

  .title-col, .title-row {
    margin: 16px 0px;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
    height: 2.6em;
    line-height: 1.2em;
    font-size: 1.2em;
  }

  .pinCodeEditor-col, .areasEditor-col {
    width: 50%;

    &:first-child {
      padding-right: 8px;
    }

    &:last-child {
      padding-right: 8px;
    }
  }
}

@media (max-width: 899px) {
  .customEditorPopup {
    .editor-content {
      .editor-item {
        &.cols-2 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .pinCodeEditor, .areasEditor {

    .datagrid-section {
      flex-direction: column;
    }

    .title-col {
      display: inline-block;
    }

    .title-section {
      display: none;
    }

    .pinCodeEditor-col, .areasEditor-col {
      width: 100%;

      &:first-child {
        padding-right: 8px;
      }

      &:last-child {
        padding-right: 8px;
      }
    }
  }
  .customEditorPopup {
    .editor-content {
      .editor-item {
        &.datagrid-item {
          &.cols-2 {
            width: 100%;
          }
        }
      }
    }
  }

}

@media (min-width: 960px) {
  .customEditorPopup {
    //Необходимо что-бы растягивать карту на высоту содержимого popup. срабатывает только в мастере выбора табло
    &.displayChooserMaster {
      .popupContent {
        min-height: 100% !important;
        height: 100% !important;
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;

        & > form {
          height: 100% !important;

          & > .dx-form.dx-widget {
            height: 100% !important;

            & > .dx-layout-manager.dx-widget {
              height: 100% !important;

              & > .dx-widget.dx-collection.dx-responsivebox {
                height: 100% !important;

                & > .dx-box-flex.dx-box.dx-widget.dx-collection {
                  height: 100% !important;

                  & > .dx-item.dx-box-item {
                    height: 100% !important;

                    & > .dx-item-content.dx-box-item-content.dx-root-simple-item {
                      height: 100% !important;

                      &
                      > .dx-first-row.dx-first-col.dx-last-col.dx-last-row.dx-field-item.dx-col-0.dx-field-item-optional.dx-flex-layout {
                        height: 100% !important;

                        & > .dx-field-item-content.dx-field-item-content-location-right {
                          height: 100% !important;

                          & > .editor-content {
                            height: 100% !important;

                            & > .dx-form-group-with-caption.dx-form-group.editor-group {
                              height: 100% !important;

                              & > .dx-form-group-content.editor-content.displaygroup-content-editor {
                                height: 100% !important;

                                & > .editor-item.datagrid-item.tabpanel-item {
                                  height: 100% !important;

                                  & > .dx-multiview.dx-swipeable.dx-tabpanel.dx-widget.dx-collection {
                                    height: 100% !important;

                                    & > .dx-tabpanel-container {
                                      height: 100% !important;

                                      & > .dx-multiview-wrapper {
                                        height: 100% !important;

                                        & > .dx-multiview-item-container {
                                          height: 100% !important;

                                          & > .dx-item.dx-multiview-item {
                                            height: 100% !important;

                                            & > .dx-item-content.dx-multiview-item-content {
                                              height: 100% !important;

                                              & > .dx-field {
                                                height: 100% !important;

                                                & > .map-editor.display-master-map {
                                                  height: 100% !important;
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $smallMedia-maxWidth) {
  .customEditorPopup {
    .editor-content.displaygroup-content-editor {
      flex-direction: column;
      flex-wrap: wrap;

      .datagrid-item.editor-item.table {
        flex-grow: 3;
      }

      .editor-item.moveControls {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        min-width: 60px;
        min-height: 60px;
      }
    }
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  width: 100%;
  padding: 12px 15px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.smartStations-row {
  display: flex;
  column-gap: 10px;
}

.smartStations-icon {
  height: 24px;
  width: 24px;
}

.mainCameraStyle {
  border-right: 1px solid #ddd;
  padding-right: 5px;
}

.tooltip {
  background: #ffffff !important;
  color: #333 !important;
}

.__react_component_tooltip {
  z-index: 1600 !important;
}

.dx-field-value-two {
  display: flex;
  flex-direction: row;
  flex: 1;
  column-gap: 20px;
  align-items: center;
  .dx-button {
    height: 34px;
  }
  .dx-textbox {
    flex: 1;
  }
}

.dx-see-value {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.device-type {
  display: flex;
  align-items: center;
  column-gap: 15px;
}